[Unit]
Description=@my_id_bot for Telegram
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/bot/my-id-bot
ExecStart=/home/bot/my-id-bot/bot.py
KillMode=process
Restart=always
RestartSec=10
Environment=BOT_TOKEN=12345:abcxyz
Environment=ENABLE_STATS=0

[Install]
WantedBy=multi-user.target